.card {
  width: 190px;
  height: 254px;
  background: #ff8906;
  border-radius: 15px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #f25f4c;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  width: 70px;
  height: 80px;
  background: #f25f4c;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #f25f4c;
  color: white;
  font-weight: 600;
}

.card button:hover {
  background: #534bf3;
}
